name: Redirect circleci artifacts

on: [status]

permissions:
  contents: read  # to fetch code (actions/checkout)
  statuses: write  # to report circleci status (scientific-python/circleci-artifacts-redirector-action)

env:
  ACTIONS_STEP_DEBUG: "true"

# jobs:
#   circleci_artifacts_redirector_job:
#     runs-on: ubuntu-22.04
#     if: >
#       github.repository == 'nickodell/scipy'
#       && github.event.context == 'ci/circleci: build_docs'
#     name: Run CircleCI artifacts redirector
#     steps:
#       - name: GitHub Action step
#         uses: nickodell/circleci-artifacts-redirector-action@njo-test-modification
#         with:
#           repo-token: ${{ secrets.GITHUB_TOKEN }}
#           api-token: ${{ secrets.CIRCLE_TOKEN }}
#           artifact-path: 0/html/index.html
#           circleci-jobs: build_docs
#           job-title: Check the rendered docs here!

jobs:
  printJob:
    name: Print event
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: |
        echo "$GITHUB_CONTEXT"