name: Redirect circleci artifacts

on: [status]

permissions:
   contents: read  # to fetch code (actions/checkout)

jobs:
  circleci_artifacts_redirector_job:
    runs-on: ubuntu-22.04
    if: >
      github.repository == 'scipy/scipy'
      && github.event.context == 'ci/circleci: build_docs'
    name: Run CircleCI artifacts redirector
    steps:
      - name: GitHub Action step
        uses: nickodell/circleci-artifacts-redirector-action@e396aa885116bf6964236ba34707f520d11d0034
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          api-token: ${{ secrets.CIRCLE_TOKEN }}
          artifact-path: 0/html/index.html
          circleci-jobs: build_docs
          job-title: Check the rendered docs here!
